# This is a basic workflow to help you get started with Actions

name: Get Docker images from gcr 
env:
  NEW_REGISTRY_URL: "registry.cn-hangzhou.aliyuncs.com/skydoor/"
  NEW_REGISTRY_URL2: "docker.io/skydoor/"


on:
  push:
    paths:
      - '.github/workflows/**'

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
        
    ## 解析版本文件生成镜像标签
    ## 上传到阿里云镜像仓库
    ## docker https://github.com/Azure/docker-login
    - name: 获取gcr.io镜像
      run: |
        docker login -u ${{ secrets.MY_ALI_REGISTRY_USER}} -p ${{ secrets.MY_ALI_REGISTRY_PASSWORD}} ${NEW_REGISTRY_URL}
        echo "docker pull from k8s gcr io"
        docker pull  ghcr.io/modelcontextprotocol/inspector:latest
        docker tag ghcr.io/modelcontextprotocol/inspector:latest registry.cn-hangzhou.aliyuncs.com/skydoor/modelcontextprotocol-inspector:latest
        docker push registry.cn-hangzhou.aliyuncs.com/skydoor/modelcontextprotocol-inspector:latest
        
        #docker pull k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.5.0
        #docker pull chrislusf/seaweedfs-csi-driver:latest
        #docker pull k8s.gcr.io/sig-storage/csi-provisioner:v3.1.0
        #docker pull k8s.gcr.io/sig-storage/csi-attacher:v3.4.0
        #docker pull k8s.gcr.io/sig-storage/csi-resizer:v1.4.0
        #docker tag k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.5.0  registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-node-driver-registrar-v2.5.0
        #docker tag chrislusf/seaweedfs-csi-driver:latest registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:seaweedfs-csi-driver-latest
        #docker tag k8s.gcr.io/sig-storage/csi-provisioner:v3.1.0 registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-provisioner-v3.1.0
        #docker tag k8s.gcr.io/sig-storage/csi-attacher:v3.4.0 registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-attacher-v3.4.0
        #docker tag k8s.gcr.io/sig-storage/csi-resizer:v1.4.0 registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-resizer-v1.4.0
        
        #docker push  registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-node-driver-registrar-v2.5.0
        #docker push  registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:seaweedfs-csi-driver-latest
        #docker push  registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-provisioner-v3.1.0
        #docker push  registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-attacher-v3.4.0
        #docker push  registry.cn-hangzhou.aliyuncs.com/skydoor/seaweed:csi-resizer-v1.4.0
